In [ ]:
import pandas as pd
import nltk
import numpy as np

In [ ]:
stock_data = pd.read_csv("/content/drive/MyDrive/BERT + STOCK /Market_Data_apple.csv")

In [ ]:
stock_data.head()

   Unnamed: 0   close    high       low    open        date  difference
0           0  124.40  125.18  119.2845  120.06  2020-10-12       8.230
1           1  116.97  117.00  114.9200  115.28  2020-10-09       1.956
2           2  114.97  116.40  114.5901  116.25  2020-10-08       0.658
3           3  115.08  115.55  114.1300  114.62  2020-10-07       0.584
4           4  113.16  116.12  112.2500  115.70  2020-10-06      -1.948

In [ ]:
stock_data.shape

(71395, 7)

In [ ]:
news_data = pd.read_csv("/content/drive/MyDrive/BERT + STOCK /Intrinio_Titles_Data.csv")

In [ ]:
news_data.head()

   Unnamed: 0  ...                                              title
0           0  ...  Microsoft Is Bringing Xbox Game Pass to iOS, b...
1           1  ...  US STOCKS-S&P 500, Dow track second straight w...
2           2  ...                   3 Top 5G Stocks to Buy Right Now
3           3  ...  Microsoft Takes Shots at Apple in New App Stor...
4           4  ...  Pre-Market Most Active for Oct 9, 2020 :  MVIS...

[5 rows x 3 columns]

In [ ]:
news_data.shape

(110225, 3)

In [ ]:
news_data['date']=pd.to_datetime(news_data['date']).dt.strftime('%Y-%m-%d')

In [ ]:
stock_data['date']=pd.to_datetime(stock_data['date']).dt.strftime('%Y-%m-%d')

In [ ]:
news_data.head()

   Unnamed: 0        date                                              title
0           0  2020-10-08  Microsoft Is Bringing Xbox Game Pass to iOS, b...
1           1  2020-10-08  US STOCKS-S&P 500, Dow track second straight w...
2           2         NaN                   3 Top 5G Stocks to Buy Right Now
3           3  2020-10-09  Microsoft Takes Shots at Apple in New App Stor...
4           4  2020-10-09  Pre-Market Most Active for Oct 9, 2020 :  MVIS...

In [ ]:
stock_data.head()

   Unnamed: 0   close    high       low    open        date  difference
0           0  124.40  125.18  119.2845  120.06  2020-10-12       8.230
1           1  116.97  117.00  114.9200  115.28  2020-10-09       1.956
2           2  114.97  116.40  114.5901  116.25  2020-10-08       0.658
3           3  115.08  115.55  114.1300  114.62  2020-10-07       0.584
4           4  113.16  116.12  112.2500  115.70  2020-10-06      -1.948

In [ ]:
news_data.isna().sum()

Unnamed: 0        0
date          16617
title             0
dtype: int64

In [ ]:
news_data.dropna(inplace=True)

In [ ]:
news_data.columns

Index(['Unnamed: 0', 'date', 'title'], dtype='object')

In [ ]:
news_data = news_data[['date','title']]

In [ ]:
stock_data.columns

Index(['Unnamed: 0', 'close', 'high', 'low', 'open', 'date', 'difference'], dtype='object')

In [ ]:
stock_data = stock_data[['close', 'high', 'low', 'open', 'date', 'difference']]

In [ ]:
stock_data.head()

    close    high       low    open        date  difference
0  124.40  125.18  119.2845  120.06  2020-10-12       8.230
1  116.97  117.00  114.9200  115.28  2020-10-09       1.956
2  114.97  116.40  114.5901  116.25  2020-10-08       0.658
3  115.08  115.55  114.1300  114.62  2020-10-07       0.584
4  113.16  116.12  112.2500  115.70  2020-10-06      -1.948

In [ ]:
news_data.head()

         date                                              title
0  2020-10-08  Microsoft Is Bringing Xbox Game Pass to iOS, b...
1  2020-10-08  US STOCKS-S&P 500, Dow track second straight w...
3  2020-10-09  Microsoft Takes Shots at Apple in New App Stor...
4  2020-10-09  Pre-Market Most Active for Oct 9, 2020 :  MVIS...
5  2020-10-09                             Is Ecolab Stock a Buy?

In [ ]:
news_data.shape

(93608, 2)

In [ ]:
stock_data.shape

(71395, 6)

In [ ]:
#Merging News and Stock data to one table
result = pd.merge(news_data, stock_data, on='date')
result.head()

         date  ... difference
0  2020-10-08  ...      0.658
1  2020-10-08  ...      0.658
2  2020-10-08  ...      0.658
3  2020-10-08  ...      0.658
4  2020-10-08  ...      0.658

[5 rows x 7 columns]

In [ ]:
result.head()

         date  ... difference
0  2020-10-08  ...      0.658
1  2020-10-08  ...      0.658
2  2020-10-08  ...      0.658
3  2020-10-08  ...      0.658
4  2020-10-08  ...      0.658

[5 rows x 7 columns]

In [ ]:
result.shape

(3794892, 7)

In [ ]:
result.drop_duplicates(inplace=True)

In [ ]:
result.shape

(50468, 7)

In [ ]:
result.head(10)

           date  ... difference
0    2020-10-08  ...      0.658
50   2020-10-08  ...      0.658
100  2020-10-08  ...      0.658
300  2020-10-09  ...      1.956
350  2020-10-09  ...      1.956
400  2020-10-09  ...      1.956
450  2020-10-09  ...      1.956
500  2020-10-09  ...      1.956
550  2020-10-09  ...      1.956
600  2020-10-09  ...      1.956

[10 rows x 7 columns]

In [ ]:
result.reset_index(inplace=True)

In [ ]:
result.head(10)

   index        date  ...    open  difference
0      0  2020-10-08  ...  116.25       0.658
1     50  2020-10-08  ...  116.25       0.658
2    100  2020-10-08  ...  116.25       0.658
3    300  2020-10-09  ...  115.28       1.956
4    350  2020-10-09  ...  115.28       1.956
5    400  2020-10-09  ...  115.28       1.956
6    450  2020-10-09  ...  115.28       1.956
7    500  2020-10-09  ...  115.28       1.956
8    550  2020-10-09  ...  115.28       1.956
9    600  2020-10-09  ...  115.28       1.956

[10 rows x 8 columns]

In [ ]:
result.columns

Index(['index', 'date', 'title', 'close', 'high', 'low', 'open', 'difference'], dtype='object')

In [ ]:
result = result[['date', 'title', 'close', 'high', 'low', 'open','difference']]

In [ ]:
#result.to_csv('/content/drive/MyDrive/Merged_Apple_News_difference.csv')