In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/BERT + STOCK /Merged_App_News_MACD.csv')

In [ ]:
data.head()

         date  ...     macdh
0  2020-10-08  ...  0.000000
1  2020-10-08  ...  0.000000
2  2020-10-08  ...  0.000000
3  2020-10-09  ...  0.044341
4  2020-10-09  ...  0.039551

[5 rows x 9 columns]

In [ ]:
stock_data = pd.read_csv("/content/drive/MyDrive/BERT + STOCK /Market_Data_apple.csv")

In [ ]:
stock_data.head()

   Unnamed: 0   close    high       low    open        date
0           0  124.40  125.18  119.2845  120.06  2020-10-12
1           1  116.97  117.00  114.9200  115.28  2020-10-09
2           2  114.97  116.40  114.5901  116.25  2020-10-08
3           3  115.08  115.55  114.1300  114.62  2020-10-07
4           4  113.16  116.12  112.2500  115.70  2020-10-06

In [ ]:
data_sample = data.iloc[0:5585]

In [ ]:
data_sample.head()

         date  ...     macdh
0  2020-10-08  ...  0.000000
1  2020-10-08  ...  0.000000
2  2020-10-08  ...  0.000000
3  2020-10-09  ...  0.044341
4  2020-10-09  ...  0.039551

[5 rows x 9 columns]

In [ ]:
data.columns

Index(['date', 'title', 'close', 'high', 'low', 'open', 'macd', 'macds',
       'macdh'],
      dtype='object')

In [ ]:
macd = data_sample[['macd','macds']]

In [ ]:
macd_signal = data[['macds']]

In [ ]:
macd.shape

(5585, 2)

In [ ]:
macd_list = macd.macd.to_list()

In [ ]:
macd_signal_list = macd_signal.macds.to_list()

In [ ]:
macd['Difference'] = macd['macd'] - macd['macds']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
macd.head()

       macd     macds  Difference
0  0.000000  0.000000    0.000000
1  0.000000  0.000000    0.000000
2  0.000000  0.000000    0.000000
3  0.095016  0.050675    0.044341
4  0.132414  0.092863    0.039551

In [ ]:
macd_list_difference = macd.Difference.to_list()

In [ ]:
len(macd_list_difference)

5585

In [ ]:
label_alt_df = pd.DataFrame(label_alt)
label_alt_df = label_alt_df.rename(columns={0:"Label_Signal"})
label_alt_df.head()

  Label_Signal
0         Hold
1         Hold
2         Hold
3      Bullish
4      Bullish

In [ ]:
Bullish_data = label_alt_df.loc[label_alt_df['Label_Signal'] == "Bullish"] 
Bearish_data = label_alt_df.loc[label_alt_df['Label_Signal'] == "Bearish"] 
Hold_data = label_alt_df.loc[label_alt_df['Label_Signal'] == "Hold"]

In [ ]:
label_signal_df = pd.DataFrame(label_signal)
label_signal_df = label_signal_df.rename(columns={0:"Label_Signal"})
label_signal_df.head()

  Label_Signal
0         Hold
1         Hold
2      Bullish
3         Hold
4         Hold

In [ ]:
Bullish_data = label_signal_df.loc[label_signal_df['Label_Signal'] == "Bullish"] 
Bullish_data.shape

(1, 1)

In [ ]:
Bearish_data = label_signal_df.loc[label_signal_df['Label_Signal'] == "Bearish"] 
Bearish_data.shape

(0, 1)

In [ ]:
Hold_data = label_signal_df.loc[label_signal_df['Label_Signal'] == "Hold"] 
Hold_data.shape

(50433, 1)

In [ ]:
len(macd_list_difference)

5585

In [ ]:
#for macd label
label = []
index = 0
for i in range(len(macd_list_difference)-1):
  if i==5585:
    break
  current_index = i
  next_index = current_index + 1
  if (macd_list_difference[i] < 0.00000 and macd_list_difference[next_index]>0.000000):
    label.append('Bearish')
  elif (macd_list_difference[i] > 0.000000 and macd_list_difference[next_index]<0.000000):
    label.append('Bullish')
  else:
    label.append('Hold')

In [ ]:
label_df = pd.DataFrame(label)
label_df = label_df.rename(columns={0:"Label"})
label_df.head()

  Label
0  Hold
1  Hold
2  Hold
3  Hold
4  Hold

In [ ]:
label_data = pd.merge(data, label_df, left_index=True, right_index=True)

In [ ]:
label_data.shape

(5584, 10)

In [ ]:
label_data.head(10)

         date  ...    Label
0  2020-10-08  ...     Hold
1  2020-10-08  ...     Hold
2  2020-10-08  ...     Hold
3  2020-10-09  ...     Hold
4  2020-10-09  ...     Hold
5  2020-10-09  ...     Hold
6  2020-10-09  ...     Hold
7  2020-10-09  ...  Bullish
8  2020-10-09  ...     Hold
9  2020-10-09  ...     Hold

[10 rows x 10 columns]

In [ ]:
Bullish_data = label_data.loc[label_data['Label'] == "Bullish"] 
Bullish_data.shape

(131, 10)

In [ ]:
Bearish_data = label_data.loc[label_data['Label'] == "Bearish"] 
Bearish_data.shape

(130, 10)

In [ ]:
Hold_data = label_data.loc[label_data['Label'] == "Hold"]
Hold_data.shape

(5323, 10)

In [ ]:
label_data.head(20)

          date  ...    Label
0   2020-10-08  ...     Hold
1   2020-10-08  ...     Hold
2   2020-10-08  ...     Hold
3   2020-10-09  ...     Hold
4   2020-10-09  ...     Hold
5   2020-10-09  ...     Hold
6   2020-10-09  ...     Hold
7   2020-10-09  ...  Bullish
8   2020-10-09  ...     Hold
9   2020-10-09  ...     Hold
10  2020-10-09  ...     Hold
11  2020-10-07  ...     Hold
12  2020-10-07  ...     Hold
13  2020-10-07  ...     Hold
14  2020-10-07  ...     Hold
15  2020-10-07  ...     Hold
16  2020-10-07  ...  Bearish
17  2020-10-07  ...     Hold
18  2020-10-07  ...     Hold
19  2020-10-07  ...     Hold

[20 rows x 10 columns]

In [ ]:
#label_data.to_csv()